.widget__header {
  text-align: center;
  margin-bottom: 20px;

  .widget__header--city {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
  }

  .widget__header--temp {
    font-size: 5.5em;
    line-height: 1.5em;
  }

  .widget__header--state {
    font-size: 2em;
  }
}