@use "./general/variables";

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: variables.$primary;
  font-family: variables.$font;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
}