.widget__header {
    text-align: center;

    .widget__header--city {
        font-size: 2.5em;
        font-weight: 300;
        margin: 0;
    }

    .widget__header--temp {
        font-size: 6.25em;
        line-height: 2.25em;
    }

    .widget__header--state {
        font-size: 2em;
    }
}