.hourly__forecast {
    display: flex;
    justify-content: space-between;
    .hourly__forecast--item {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        text-align: center;

        img {
          width: 2em;
          padding: 0.5em;
        }
    }
}